{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>PRODUCT CATEGORY LIST</title>
{% endblock %}    

{% block content %}
{% load static %}

<table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SHOP ID</th>
        <th scope="col">SHOP NAME</th>
        <th scope="col">SHOP ADDRESS</th>
        <th scope="col">PHONE NUMBER</th>
        <th scope="col">EMAIL ID</th>
        <th scope="col">PRODUCT CATEGORY</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">PRODUCT IMAGE</th>
        <th scope="col">PRODUCT PRICE</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
      <tr>
        <td>{{i.shop_id}}</td>
        <td>{{i.shop_name}}</td>
        <td>{{i.shop_address}}</td>
        <td>{{i.phone_number}}</td>
        <td>{{i.email}}</td>
        <td>{{i.product_category}}</td>
        <td>{{i.product_name}}</td>
        <td><img src="{{i.picture.url}}" alt="image" width="100px" height="100px"></td>
        <td>{{i.product_price}}</td>
          <td><button class="btn btn-warning"><a href="{% url 'updatecategory_url' i.product_category_id %}">UPDATE</a></button></td>
          <td><button class="btn btn-danger"><a href="{% url 'deletecategory_url' i.product_category_id %}">DELETE</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}